---
import "../styles/styles.css"
---
<div id="abaut">
<h1>Abaut</h1>
<p>Group of AI tools based on conversational chatbots or text generation created from <a href="https://github.com/Soulter/hugging-chat-api">"hugging-chat-api"</a> and "Chat GPT API".</p>
</div>
<style>
    a:hover{
        border: none;
    }
    div{    
        padding:50px 80px;
        border-bottom: 1px orangered solid;
        margin-bottom: 70px;
    }
</style>