---
import Card from "./Card.astro";
import "../styles/styles.css"
---
<div id="features">
<h2>AI Chat Features</h2>
<div id="card">
<Card title="AI Chat" body="for Windows" href="https://github.com/AndreaKinder/HuChat-Chat-Bot-Assistant-Desktop/releases/download/Linux/HugAI-Chat-Windows.zip" />
<Card title="AI Chat" body="for Linux" href="https://github.com/AndreaKinder/AI-Chat-Bot-Assistant-Desktop/releases/download/ChatGPT/AI.ChatBotv0.02-.alpha.-.Linux.tar.gz" />
</div>
<h2>AI Notebook Features</h2>
<div id="card">
<Card title="AI Notebook" body="for Windows" href="https://github.com/AndreaKinder/HugChat-AI-Notebook/releases/download/Windows/HugAI-Notebook-Windows.zip" />
<Card title="AI Notebook" body="for Linux" href="https://github.com/AndreaKinder/AI-Notebook/releases/download/ChatGPT/AI-Notebook.v0.02-.alpha.tar.gz" />
</div>
</div>
<style>
    #features{
        text-align: center;
    }
    h2{
        font-size: 50px;
        margin-top: 10px;
    }
    h2:hover{
        color: orangered;
    }
    #card{
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
    }
</style>