---
import Card from "./Card.astro";
import "../styles/styles.css"
---
<div id="features">
<h2>Hub AI Chat Features</h2>
<div id="card">
<Card title="Hug AI Chat" body="for Windows" href="https://github.com/AndreaKinder/HuChat-Chat-Bot-Assistant-Desktop/releases/download/Linux/HugAI-Chat-Windows.zip" />
<Card title="Hug AI Chat" body="for Linux" href="https://github.com/AndreaKinder/HuChat-Chat-Bot-Assistant-Desktop/releases/download/Linux/HugAI_Chat_Alfa_Linux.zip" />
</div>
</div>
<style>
    #features{
        text-align: center;
    }
    h2{
        font-size: 50px;
        margin-top: 10px;
    }
    h2:hover{
        color: orangered;
    }
    #card{
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
    }
</style>