---
import "../styles/styles.css"

---
<footer class="py-3 my-4">
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><a href="#home" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#features" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="https://github.com/AndreaKinder/HuChat-Chat-Bot-Assistant-Desktop" class="nav-link px-2 text-body-secondary">GitHub</a></li>
      <li class="nav-item"><a href="https://andreavillar.tech/form/" class="nav-link px-2 text-body-secondary">Contact</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 AndreaKinder, Inc</p>
  </footer>
 
  <style>
    ul{
      border-bottom: solid 1px orangered;
    }
  </style>